body{
	width: 500px;
	margin: auto;
	
}

ul{
	list-style: none;
	padding: 0;
	background: red;
}

ul li{
	display: block;
	position: relative;
	float: left;
	background: red;
	
}

li ul{
	display: none;
}

ul li a{
	display: block;
	padding: 1em;
	text-decoration: none;
	white-space: nowrap;
	color: #fff;
}

ul li a:hover{
	background: #2c3e50;
}

li:hover > ul{
	display: block;
	position: absolute;
}

li:hover li{
	float: none;
}

li:hover a{
	background: red;
}

li:hover li a:hover{
	background: #2c3e50;
}

.main-navigation li ul li{
	border-top: 0;
}

