<!doctype html>
<html> 
    <head> 
        <link rel="stylesheet" href="/static/css/editCompany.css" />
        <title>Placement Portal</title>
    </head>
    <body><div><p id="head">Edit Placement</p></div>
        <p> Enter Details of Placement </p>
        <form action="/edit-placement/{{placements_id}}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
            <input placeholder="Student Name" type="text" name="sname" value="{{sname}}" readonly>
            <input placeholder="Roll Number" type="text" name="roll" value="{{rollno}}" readonly>
            <select class="form-control" name="company_select">
                {% for i in company.items%}
                    <option value="{{ i.0 }}" selected>{{i.1}}</option>
                {% endfor %}
                {% for i in all_companies.items%}
                    <option value="{{ i.0 }}">{{ i.1 }}</option>
                {% endfor %}
            </select>


            <input placeholder="Package" type="text" name="package" value="{{package}}">
            <input placeholder="Bond" type="text" name="bond" value="{{bond}}">
            <input type="submit">
            </form>
    </body>
</html>