{% load i18n %}{% autoescape off %}
{% blocktrans %}You're receiving this email because you requested a password reset for your user account at Placement Portal.{% endblocktrans %}

{% trans "This link is valid for 30 minutes only, please go to the following page and create a new password:" %}
    {% block reset_link %}
        {{protocol}}://{{ domain }}{% url 'password_resetenter' uidb64=uid token=token %} 
    {% endblock %}

{% trans "Thanks for using Placement Portal!" %}

{% blocktrans %}The Placement Portal team{% endblocktrans %}

{% endautoescape %}