<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Placement Portal</title>
  
  <link rel="stylesheet" href="/static/css/reset.min.css"/>

  <link rel='stylesheet prefetch' href='/static/css/css_1.css'/>
  <link rel='stylesheet prefetch' href='/static/css/css_2.css'/>
  <link rel='stylesheet prefetch' href='/static/css/font-awesome.min.css'/>

  <link rel="stylesheet" href="/static/css/style.css"/>

  
</head>

<body>
  
<div class="container">
  <div class="info">
    <h1>Placement Portal</h1>
  </div>
</div>
<div class="form">
  <div class="thumbnail"><img src="/static/images/hat.svg"/></div>
  <form class="login-form" method="post">
  {% csrf_token %}
    <input type="text" placeholder="Password" name="password1"/>
    <input type="password" placeholder="Re-Enter Password" name="password2"/>
    <button>Submit</button>
    <br>
    <h2>{{ message }}</h2>
  </form>
</div>
  <script src='/static/js/jquery.min.js'></script>

    <script src="/static/js/index.js"></script>

</body>
</html>
