<html lan="en">
    <head>
        <title>
            View Students
        </title>
        <script src="/static/js/student_datatables.js"></script>
    </head>
    <body>
        <div class="row" id="table">
            <div class="col-lg-12 table-body">
                <table id="students-table" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Gender</th>
                        <th>Roll No</th>
                        <th>Dob</th>
                        <th>Course</th>
                        <th>Batch</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Edit Student</th>
                        <th>Delete Student</th>
                        <th>Add Placement</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
